.login-outer-wrapper {
   max-width: 900px;
   margin: 150px auto 55px auto;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   display: grid;
   grid-template-columns: 65% 35%;
   border-radius: 15px;
  }


  .login-sidebar{
    background-color: #EAB308;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .login-sidebar a {
    background-color: transparent;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50px;
    color: white;
    width: 115px;
    text-align: center;
  }

.login-form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm{

    width: 100%;
}

.login-text{
    color:#eab308;
}
  /* .login-form-container {
    position: relative;
    width: 100%;
    background-color: white;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 25px;
    
  } */
  
  .login-form-container .form {
    /* width: 50%; */
    background-color: white;
  }
  
  .socials i{
    border: 1px solid #eab308;
    color: #eab308;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

  }
  
  .socials {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .login-form-container .forms {

  } 
  
  .login-form-container.active-login .login-form {
     /* margin-left: -50%; */
     opacity: 0;
     transition: margin-left 0.18s ease, opacity 0.15s ease;
  
  }
  
  
  .login-form-container .signup-form {
    opacity: 0;
    transition: opacity 0.09s ease;
  }
  .login-form-container.active-login .signup-form {
   opacity: 1;
   transition: opacity 0.2s ease;
  }
  
  
  
  .login-form-container.active-login .forms {
     height: 600px
  }
  
  
   .login-title {
    color:#eab308;
    font-size: 25px;
    font-weight: 700;
  }

.rentulo{
 color: #EAB308;
 font-size: 19px;
 font-weight: 800;
}
.line{
    width: 35px;
    height: 3px;
    background-color: #EAB308;
    margin: 18px auto;
}
  
  .space{
    height: 5px;
  }
  
  /* .login-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 45px;
    background-color: #eab308;
    border-radius: 25px;
  } */
  
  
  .page-title {
    color: black;
    font-size: 25px;
    padding-bottom: 150px;
    text-align: center;
  }
  
  
  .form .input-field{
    margin-top: 30px;
    position: relative;
    height: 50px;
    width: 100%;
  }
  
  .input-field input {
    position:absolute;
    height: 100%;
    width: 100%;
    padding: 0 45px;
    border: none;
    outline: none;
    border: 2px solid #ccc;
    font-size: 16px;
    border-radius: 25px;
    transition: ease-in-out all 0.3s;
  }
  
  .input-field input:is(:focus, :valid) {
    border-color: var(--main-orange);
  }
  
  .input-field i {
    position: absolute;
    top: 10%;
    color: #999;
    font-size: 26px;
  }
  
  .input-field input:is(:focus, :valid) ~ i{
    color: var(--main-orange);
  
  }
  
  .input-field i.login-icon {
    left: 15px;
  }
  .input-field i.showHidePw {
    right: 15px;
    cursor: pointer;
  }
  
  .form .checkbox-text {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .checkbox-content input {
    accent-color: var(--dark-orange);
    margin: 0 8px -2px 4px;
  }
  
  .form a {
    text-decoration: none;
    transition: 0.4s;
  }
  
  .form a:hover {
    color: var(--dark-orange)
  }
  
  .form .check-text {
    color: #333;
    font-size: 14px;
  }
  
  .form .button {
    margin-top: 35px;
  }
  
  .form .button input {
    border: none;
    background-color: #eab308;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 500;
  }
  
  .form .button input:hover{
    background-color: var(--main-text-dark);
  
  }
  
  .form .login-signup {
    margin-top: 25px;
    text-align: center;
  }


  .register-outer-wrapper {
    max-width: 550px;
    margin: 150px auto 55px auto;
   padding: 55px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  }

   
  @media only screen and (max-width: 900px) {
    .login-outer-wrapper {
        max-width: 900px;
        margin: 15px auto 55px auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: grid;
        grid-template-columns: 100%;
        border-radius: 15px;
       }

       .login-form {
        padding: 15px;

    }

    .login-sidebar{
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 25px;
    }
  }