
/* CSS Variables */

:root {
    /* primary colors */
    --main-yellow: #EFA83C;
    --main-orange: #DC5D41;
    --dark-orange: #D84727;
    --main-halfWhite: #F8F8F8;
    /* Secondary Colors */
    --main-bg1: #DAF3ED;
    --main-bg2: #E2F0DF;
    --main-bg-cream: #FFEDCD;
    --main-bg-pink: #F9D9DA;
    /* text Colors */
    --main-tex-green: #006950;
    --main-text-dark: #333333;
    --main-text-red: #6D0003;
    --main-text-brown: #7C5000;
    --main-text-darkGreen: #105B00;
    /* font */
    --main-font: 'Ubuntu', sans-serif;
  }

  a {
    text-decoration: none;
    color: var(--main-text-dark);
    transition: all 0.5 ease-in-out;
  }

  a:hover {
    color: var(--main-text-dark);
    text-decoration: none;
    }

  ul, li {
    list-style: none;
  }

body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-text-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    margin-top: 100px;
}

 .btn-dark:focus {
  box-shadow: rgb(82 88 93 / 50%) 0px 0px 0px 0.0rem;
}

.btn-dark:hover {
  box-shadow: 0 !important;
}

/* Navbar */
#nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color: #fff;
    font-family: var(--main-font);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.icon-holder {
  margin-right: 22px;
}

.icon-holder > a {
  margin-right: 15px;
  color: var(--main-text-dark)
}
nav .logo {
	float: left;
	width: 195px;
	display: flex;
	align-items: center;
	font-size: 24px;
}
nav .logo img {
	width: 100%;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    background-color: #fff;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: var(--main-text-dark);
	text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: var(--main-text-dark);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

/* Navbar mobile style */
@media screen and (max-width: 768px) {
	nav .logo {
		float: left;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 90px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: start;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
   
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
hr {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
  border-top: 1px solid black!important;
  width: 100% !important;
}

/* Home page search box */

.search_box_container {
    max-width: 60%;
    margin: auto;
    margin-top: 150px;
    border: 1px solid var(--main-text-dark);
    border-radius: 15px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.search_box_container > input {
    outline: none;
    font-family: var(--main-font);
    border: none;
}

.search_btn {
    background-color: transparent;
    border: 0;
}

.search_btn > i {
    font-size: 25px;
    color: var(--main-text-dark)
}

/* Slider */

.slider__wrapper {
    overflow: hidden;
    margin-top: 35px;
  }

  .slider__item {
    flex: 0 0 25%;
    height: 448px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--main-text-dark);
  }

  .slider_item_inner > h2 {
    color: #ffff;
    font-size: 55px;
    margin-bottom: 10px;
  }

  .slider_item_inner > p {
    color: #ffff;
    font-size: 14px;
    max-width: 300px;
    margin-bottom: 25px;
  }

  .slider_item_inner > span {
    display: block;
    color: #ffff;
    font-size: 20px;
    padding-bottom: 15px;
  }

  .slider_item_inner img {
    max-width: 350px;
    width: 100%;
  }
  .primary_btn {
      border: none;
      background-color: var(--main-yellow);
      color: #fff ;
      font-family: var(--main-font);
      font-size: 18;
      font-weight: bold;
      height: 43px;
      width: 136px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

  }

  .register-menu-btn{
    color: var(--main-text-dark) !important;
    border: 1px solid var(--main-text-dark);
    padding: 5px 12px;
    border-radius:15px;
    transition: ease-in-out 0.19s all;
    font-size: 14px;
  }

  .register-menu-btn:hover{
    color: white !important;
    background-color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
  }
.slider {
position: relative;
width: 80%;
margin: auto;
padding: auto 45px;
background: url('/assets/img/slider\ bg.png');
background-position: center;
background-size: cover;
border-radius: 25px;

}

.slider__container {
overflow: hidden;
}

.slider__wrapper {
/*overflow: hidden;*/
}

.slider__items {
display: flex;
transition: transform 0.5s ease;


}

.slider_disable-transition {
transition: none;
}

.slider__item {
flex: 0 0 100%;
max-width: 100%;
user-select: none;
/* background: url('/assets/img/slider\ bg.png');
background-position: center;
background-size: cover;
border-radius: 25px; */
}

/* кнопки влево и вправо */

.slider__control {
position: absolute;
top: 50%;
display: flex;
align-items: center;
justify-content: center;
width: 40px;
color: #fff;
text-align: center;
height: 50px;
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.2);
}

.slider__control_hide {
display: none;
}

.slider__control[data-slide='prev'] {
left: 0;
}

.slider__control[data-slide='next'] {
right: 0;
}

.slider__control:hover,
.slider__control:focus {
color: #fff;
text-decoration: none;
outline: 0;
background: rgba(0, 0, 0, 0.3);
}

.slider__control::before {
content: '';
display: inline-block;
width: 20px;
height: 20px;
background: transparent no-repeat center center;
background-size: 100% 100%;
}

.slider__control[data-slide='prev']::before {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control[data-slide='next']::before {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы */

.slider__indicators {
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 15;
display: flex;
justify-content: center;
padding-left: 0;
margin-right: 15%;
margin-left: 15%;
list-style: none;
margin-top: 0;
margin-bottom: 0;
}

.slider__indicators li {
box-sizing: content-box;
flex: 0 1 auto;
width: 30px;
height: 5px;
margin-right: 3px;
margin-left: 3px;
text-indent: -999px;
cursor: pointer;
background-color: rgba(255, 255, 255, 0.5);
background-clip: padding-box;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
background-color: rgba(255, 255, 255, 0.9);
}

.white-space {
  height: 35px;
}

/* Featured products */

.featured-products-container {
  max-width: 70%;
  margin: 95px auto;
}

.feature-product{
  padding-top: 55px;
  display: flex;
  justify-content: center;
}
/* HOT BADGE */
.badge {
  position: absolute;
  background-color: var(--main-text-red);
  color: white;
  padding: 8px;
  border-radius: 5px;
  top: 0%;
  left: 25px;
  display: none;
}

.featured-products-grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 55px;
}

.product-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #F4F4F4;
  width: 86%;
  position: relative;
}
.product-inner img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -55px;
}

.featured-product-content {
  z-index: 3;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: var(--main-text-dark)
}

.featured-product-content > a h3 {
  font-size: 1.4vw;
  color: var(--main-text-dark)
}

.featured-location {
  margin-top: 12px;
}
.featured-location > span {
  font-size: 14px;
}
.featured-price {
  font-size: 21px;
  margin-top: 8px;
}


.featured-products-title-container {
  width: 85%;
  margin: auto;
}

.line-black {
  height: 3px;
  width: 180px;
  background-color: #333;
}

.populer-categories-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3%;
  margin-top: 65px;

}

.populer-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 255px;
}

.populer-category > img {
  margin-bottom: 25px;
}
.populer-categories-grid > div:nth-child(1){
  background-color: var(--main-bg-pink)
}
.populer-categories-grid > div:nth-child(1) > a:nth-child(3){
  color: var(--main-text-red);
  margin-top: 15px;
}
/* ------------------------------------------------ */
.populer-categories-grid > div:nth-child(2){
  background-color: var(--main-bg1)
}
.populer-categories-grid > div:nth-child(2) > a:nth-child(3){
  color: var(--main-tex-green);
  margin-top: 15px;
}
/* ----------------------------------------------------- */
.populer-categories-grid > div:nth-child(3){
  background-color: var(--main-bg-cream)
}
.populer-categories-grid > div:nth-child(3) > a:nth-child(3){
  color: var(--main-text-brown);
  margin-top: 15px;
}
/* ----------------------------------------------------- */

.populer-categories-grid > div:nth-child(4){
  background-color: var(--main-bg2);
}
.populer-categories-grid > div:nth-child(4) > a:nth-child(3){
  color: var(--main-text-darkGreen);
  margin-top: 15px;
}
/* ----------------------------------------------------- */

.populer-category a {
  color: var(--main-text-dark)
}

/* Lates Entries */

.latest-entries-grid {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-row-gap: 25px;
}

.lates-entery {
  height: 126px;
  max-width: 349px;
  background-color: #F4F4F4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-left: 15px;
}

.latest-entry-meta {
  display: grid;
}

.latest-entry-meta a {
  color: var(--main-text-dark)
}

.latest-entry-meta > a:nth-child(1) {
  margin-bottom: 9px !important;
}

.latest-entry-title {
  font-size: 19px;
  font-weight: 600;
}
.lates-entry-price {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}
.latst-entery-tag{
  color: var(--main-text-red);
  font-size: 14px;
  font-weight: 600;
}

/* CTA */

.cta-container {
  width: 100%;
  background-image: url('../img/ctra-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 420px;
  display: flex;
  align-items:center;
  justify-content: center;
}


.cta-title{
 display: flex;
 flex-direction: column;
}
.cta-title > span:nth-child(1){
 font-size: 48px;
 font-weight: 800;
}

.cta-title > span:nth-child(2){
  font-size: 32px;
  font-weight: 500;
 }

 .cta-inner h4 {
   font-size: 24px;
   font-weight: 400;
   margin: 25px auto;
 }

 /* FAQs  */
 
 .faqs-container {
   max-width: 75%;
   margin: 45px auto;
 }

 .accordion-button:focus{
  outline: 0;
  box-shadow: 0 0;
  border: 0;
  background-color: white;
  color:#333
 }

 .accordion-button {
   font-size: 27px;
 }

 .payment-methods-container {
  background-color: var(--main-orange);
}

.payment-methods-container > div {
 display: flex;
 align-items: center;
 justify-content: space-around;
 max-width: 60%;
 height: 241px;
 margin: auto;
}

/* Products page */
.product-page-container{
  max-width: 90%;
  display: grid;
  margin: auto;
  grid-template-columns: 20% 80%;
}

.product-page-sidebar {
  padding: 35px;
}
.product-page-search_box_container {

}
.product-page-search_box_container  input {
  font-size: 12px;
  padding-left: 12px;
  background-color: rgb(233, 233, 233);
  height: 35px;
  border-radius: 25px;
  width: 100%;
}
.search_btn-product-page {
  background-color: #D84727;
  color: white;
  border: none;
  margin-top: 8px;
  border-radius: 25px;
  width: 100%;
  height: 30px;
}
.product-page-search_box_container > input {
  border: none;
}
.category-title {
  margin-top: 55px;
}
.product-page-search_box_container > input:focus {
  border: none;
  outline: none;
}

.sidebar-categories {
  margin-top: 25px;
}

.sidebar-categories h3 {
  margin-left: 15px;
  font-size: 22px;
}

.sidebar-categories ul li {
  margin-top: 15px;
}
.sidebar-categories a {
 
  display: flex;
  justify-content: space-between;

}

.product-page-product-container {

}
.product-page-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 55px;
}
.product-page-title-wrapper h3 {
  font-size: 19px;
  color: rgb(107, 107, 107);
}

.product-page-title-wrapper select {
  border: 1px rgb(199, 199, 199) solid;
  width: 250px;
  height: 30px
}

.product-page-title-wrapper select:focus {
  border: 1px rgb(199, 199, 199) solid;
  width: 250px;
  height: 30px;
  outline: none;
}


.product-page-product-gird{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.product-page-product-container  .product-page-inner-product img {
   width: 100%;
 
}

.product-page-product-container .product-page-inner-product {
  width: 80%;
}


.product-page-inner-product  h2 {
  font-size: 19px;
  text-align: center;
}

.product-page-content-wrapper {
  margin: auto;
  background-color: #fff;
  padding: 35px;
}

.product-page-inner-product h3{
  font-size: 15px;
  text-align: center;
  color: rgb(107, 107, 107);
  margin-top: 20px;
}

/* Shop page */
.shop-banner {
  height: 250px;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-banner ul {
  display: flex;
}

.shop-banner ul li {
  padding: 2px;
}
.shop-page-product-image{
  max-width: 250px;
  transition: transform .5s ease;
  
}

.pagination a {
  color: #333;
  transition: all ease-in-out .4s;
}

.pagination a:hover {
  background-color: var(--dark-orange);
  color: white;
  border-color: var(--dark-orange);

}

.page-item.active .page-link  {
  background-color: var(--dark-orange) !important;
  color: white;
  border-color: var(--dark-orange);
}
.product-image-wrapper {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 35px;
}

.buy-btn {
   transform: translateY(20px);
   opacity: 0;
   transition: 0.3s all ease-in-out;
   background-color: #DC5D41;
   border: none;
}

/* shop heart box */

.fave-buy-icon-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: -80px;
  background-color: white;
  padding: 5px 10px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  width: 45px;
}

.single-product:hover .fave-buy-icon-box{
  top: 0px;
  opacity: 1;

}
.fave-buy-icon-box i {
  height: 100%;
  width:100%
}
.single-product > div {
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding-bottom: 15px;
  position: relative;

}


.single-product:hover .shop-page-product-image{
  transform: scale(1.1);
  opacity: 0.8;
}

.single-product:hover .buy-btn{
  transform: translateY(0);
  opacity: 1;
}

.product-title-shop-page {
  font-size: 18px;
}

.product-price-shop-page {
  font-size: 15px;
}
.rating-containter {
  color: goldenrod
}
.rating-box {
  display: flex;
}

.rating-box > span {
  margin-left: 15px;
  color: rgb(170, 170, 170);
}



/* Shope page ends */


/* Product Details */
/* .single-produt-image-product-details img {
 width: 100%;
} */

/* .small-image-group {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
   border: rgb(196, 196, 196) 1px solid;
   padding: 10px;
}

.product-table{
  max-width: 400px;
}
.btn-block {
  width: 400px;
  text-transform: uppercase;
}

.single-product-msg-box {
  height: 200px !important;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 105, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px !important; 
  outline: 0 !important;
}
.small-image-col {
  cursor: pointer;
}

.single-product-page-product-wrapper select {
  display: block;
  padding: 5px 10px;
  border: 1px solid rgb(196, 196, 196);
}

.single-product-page-product-wrapper input {
  width: 50px;
  border: 1px solid rgb(196, 196, 196);
  height: 40px;
  padding-left: 10px;
  margin-right: 10px;
}


.single-product-page-product-wrapper select:focus {
  border: 1px solid rgb(196, 196, 196);
  outline: 0;
}

.single-product-page-product-wrapper input:focus  {
  border: 1px solid rgb(196, 196, 196);
  outline: 0;
}

.single-product-content-wrapper {
  padding-left: 55px;
} */
/* Site Footer */

/* Single product page */

.features-outer-container {
  position: relative;
} 
.single-product-container {
  padding-top: 95px;
}
.breadcrumb {
  background-color: white;
  margin-left: -25px;
}

.image-container{
  border-radius: 25px;
}
.single-product-title-wrapper > h1 {
  font-size: 25px;
}

.small-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:5px;
}

.big-image > img {
  max-width: 100%;
  border-radius: 10px;
}

.share-like-box ul {
  display: flex;
}

.share-like-box ul li {
  margin-left: 25px;
}

.seller-card-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  /* position: sticky; */
  /* top: 150px; */
  border-radius: 15px;
}

.btn-phone {
  background-color: var(--main-orange);
  color: white !important;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-whatsapp {
  color: #7CC75F !important;;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #7CC75F;
}

.btn-msg {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--dark-orange) !important;
  border: 1px solid var(--dark-orange);
  cursor: pointer;
}

.btn-block > i {
  margin-right: 15px;
}


/* Messaging */

.message-box {
  max-width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: fixed;
  bottom: -450px;
  background-color: white;
  right: 15%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.message-box-display{
  display: block;
  bottom: 0px;
  opacity: 1;
}
.message-box-header{
  background-color: #222;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.message-box-title-wrapper {
  display: flex;
  flex-direction: column;
}

.message-box-icon-wrapper {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.message-box-icon-wrapper > a {
  margin-left: 20px;
}
.message-box-icon-wrapper > a i {
  color: rgb(131, 131, 131);
  font-size: 18px;
}
.message-box-title-wrapper > span {
 font-size: 13px;
}

.message-box-title-wrapper > h4 {
  font-size: 16px;
  color: white;
  line-height: 0.3;
}
.message-erea {
  height: 250px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.buyer-msg {
  position: absolute;
  top: 25%;
  right: 15px;
}

.buyer-msg > span {
  background-color:  var(--main-bg-pink);
  padding: 10px;
  border-radius: 10px;
}


.msg-status {
  margin-top: 5px;
}


.msg-status-icon-seen > i {
  font-size: 11px;
  color: green; 
}

.msg-status-icon-seen {
  font-size: 11px;
}
.msg-status-icon > i {
  font-size: 11px;
}
.close-msg {
  cursor: pointer;
}
/* seller message */

.seller-msg {
  position: absolute;
  top: 25%;
  left: 15px;
  margin-top: 85px;
}

.msg-form {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.msg-box-input {
  width: 100%;
  border: none;
  height: 55px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 15px;
  font-size: 16px;
}

.msg-box-input:focus {
  border: none;
  outline: none;
}
.seller-msg > span {
  background-color:  var(--main-bg-cream);
  padding: 10px;
  border-radius: 10px;
}
#file-upload{
  display: none;
}
.attachments-wrapper label {
  cursor: pointer;
}

.attachments-wrapper  {
  font-size: 13px;
  cursor: pointer;
  padding: 15px;

}

.features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 35px;
  grid-row-gap: 25px;
}
.fearure-box-inner > span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: rgb(77, 77, 77);
  font-weight: 300;
  background-color: rgb(245, 245, 245);
  margin-right: 15px;
  border-radius: 15px;
}

/* Product features descriptions */

.product-features-card-wrapper {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 45px;
  border-radius: 15px;
}

/* LOGIN */

.login-outer-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-form-container {
  position: relative;
  max-width: 450px;
  width: 100%;
  background-color: white;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  overflow: hidden;

}

.login-form-container .form {
  padding: 30px;
  width: 50%;
  background-color: white;
  transition: margin-left 0.18s ease;
}



.login-form-container .forms {
  display: flex;
  width: 200%;
  align-items: center;
  height: 440px;
  transition: height 0.2s ease;
} 

.login-form-container.active-login .login-form {
   margin-left: -50%;
   opacity: 0;
   transition: margin-left 0.18s ease, opacity 0.15s ease;

}


.login-form-container .signup-form {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.login-form-container.active-login .signup-form {
 opacity: 1;
 transition: opacity 0.2s ease;
}



.login-form-container.active-login .forms {
   height: 600px
}


.login-form-container  .login-title {
 position: relative;
 font-size: 27px;
 font-weight: 600;
 overflow: hidden;
}

.login-title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 45px;
  background-color: #D84727;
  border-radius: 25px;
}

.form .input-field{
  margin-top: 30px;
  position: relative;
  height: 50px;
  width: 100%;
}

.input-field input {
  position:absolute;
  height: 100%;
  width: 100%;
  padding: 0 45px;
  border: none;
  outline: none;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 25px;
  transition: ease-in-out all 0.3s;
}

.input-field input:is(:focus, :valid) {
  border-color: var(--main-orange);
}

.input-field i {
  position: absolute;
  top: 10%;
  color: #999;
  font-size: 26px;
}

.input-field input:is(:focus, :valid) ~ i{
  color: var(--main-orange);

}

.input-field i.login-icon {
  left: 15px;
}
.input-field i.showHidePw {
  right: 15px;
  cursor: pointer;
}

.form .checkbox-text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-content input {
  accent-color: var(--dark-orange);
  margin: 0 8px -2px 4px;
}

.form a {
  text-decoration: none;
  transition: 0.4s;
}

.form a:hover {
  color: var(--dark-orange)
}

.form .check-text {
  color: #333;
  font-size: 14px;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  background-color: var(--main-orange);
  color: white;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 500;
}

.form .button input:hover{
  background-color: var(--main-text-dark);

}

.form .login-signup {
  margin-top: 25px;
  text-align: center;
}

/* footer */
footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  align-items: center;
  justify-items:center ;
  background-color: var(--dark-orange);
  color: #fff;
  height: 476px;
  padding-left: 8%;
  padding-right: 8%;
}
.add-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-container > div {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}
.add-container > div > span:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}

.add-container > div > span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

/* Favorite page */

.favorite-page-container{
  max-width: 90%;
  display: grid;
  margin: auto;
}
.footer-contact-inner {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact-inner > span {
  margin-top: 15px;
  font-style: 20px;
  font-weight: 500;
}

.footer-contact-inner > a {
  margin-top: 15px;
  font-style: 16;
  color: #fff
}

.footer-title-line {
  background-color: var(--main-yellow);
  height: 2px;
  width: 100px;
  margin-bottom: 20px;
}

.footer-nav-wrapper ul {
  margin-left: -28px;
}

.footer-nav-wrapper ul a {
  color: white;
  font-size: 16px;
}

.footer-nav-wrapper ul li {
  padding-top: 10px;
}

/* new design */
.product-wrapper{
  width: 85%;
  margin: 120px auto 85px auto;
}

/* .product-card {
  padding: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px;
} */
.new-product-design-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 17%) );
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
}

.inner-product-new{
 margin-bottom: 25px;
 max-width: 350px;
 
}

.title-star {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-star h4 {
  font-size: 16px;
  font-weight: 500;
}

.product-inner-image-wrapper{
  max-width: 300px;
  min-width: 100%;
  height: 300px;
  position: relative;
}

.product-inner-image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  border-radius: 15px;
}

.product-inner-content-wrapper p {
  margin-top: -5px;
}

.pricing-panel {
  font-size: 16px;
  font-weight: 500;
}
.hearticon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.hearticon  i {
  color: white;
  font-size: 25px;

}
