:root {
    /* primary colors */
    --main-yellow: #EFA83C;
    --main-orange: #DC5D41;
    --dark-orange: #D84727;
    --main-halfWhite: #F8F8F8;
    /* Secondary Colors */
    --main-bg1: #DAF3ED;
    --main-bg2: #E2F0DF;
    --main-bg-cream: #FFEDCD;
    --main-bg-pink: #F9D9DA;
    /* text Colors */
    --main-tex-green: #006950;
    --main-text-dark: #333333;
    --main-text-red: #6D0003;
    --main-text-brown: #7C5000;
    --main-text-darkGreen: #105B00;
    /* font */
    --main-font: 'Ubuntu', sans-serif;
  }

  /* Navbar */
#nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
	background-color: #fff;
    font-family: var(--main-font);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.icon-holder {
  margin-right: 22px;
}

.icon-holder > a {
  margin-right: 15px;
  color: var(--main-text-dark)
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    background-color: #fff;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: var(--main-text-dark);
	text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: var(--main-text-dark);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

/* Navbar mobile style */
@media screen and (max-width: 768px) {
	nav .logo {
		float: left;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 90px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: start;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
   
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

.icon-holder {
    margin-right: 22px;
  }
  
  .icon-holder > a {
    margin-right: 15px;
    color: var(--main-text-dark)
  }
  .register-menu-btn{
    color: var(--main-text-dark) !important;
    border: 1px solid var(--main-text-dark);
    padding: 5px 12px;
    border-radius:15px;
    transition: ease-in-out 0.19s all;
    font-size: 14px;
  }

  .register-menu-btn:hover{
    color: white !important;
    background-color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
  }
  a:hover{
      text-decoration: none;
  }
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 160px auto 95px auto;
    background: #fff;
    padding: 0;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;

}


.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.settings-tray {
    background-color: #eee;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.settings-tray i {
    font-size: 25px;
    margin-left: 14px;
    color: gray;
    transition: all ease-in-out 0.4s;
}
.settings-tray i:hover {
  color: var(--dark-orange);
  cursor: pointer;
}
.search-box {
    background-color: #fafafa;
    padding: 10px 13px;
}
.input-wrapper {
    background-color: #fff;
    border-radius: 40px;
}

.input-wrapper i {
    color: gray;
    vertical-align: middle;
    margin-left: 7px;
}

input {
    border: none;
    width: 90%;
    border-radius: 25px;
}

input:focus{
    border: none;
    outline: none;
}

::placeholder {
    color: #e3e3e3;
    font-weight: 300;
}

.friend-drower{
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.gray-bg{
    background-color: transparent;
}

.friend-drower .text{
 margin-left: 12px;
 width: 70%;
}
.friend-drower .text h6{
 margin-bottom: 0;
}
.friend-drower .text p{
margin: 0;
}

.time{
    color: gray;
}

.with-hover:hover{
    background-color:var(--main-bg-pink);
    cursor: pointer;
}

hr{
    width: 60%;
    margin: 5px auto;
}

.chat-bubble {
    padding: 10px 14px;
    background-color: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-bubble--left{
    background-color: var(--dark-orange);
    color: white;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left::after{
    left: 0;
    border-right-color: var(--dark-orange);
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right{
    background-color: #fff;
    color: var(--main-text-dark);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.chat-bubble--right::after{
    right: 0;
    border-left-color: #fff;
    border-right: 0;
    margin-right: -20px;
}

.msg-section {
    position: relative;
    height: 75vh;
}
.type-msg{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-box-tray {
    background-color: #eee;
    display: flex;
    align-items: baseline;
    padding: 15px;
}

.chat-box-tray i {
    font-size: 25px;
    color: gray;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s;
}
.chat-box-tray i:hover {
  color: var(--dark-orange)
}

.chat-box-tray input {
    margin-left: 15px;
    padding-left: 15px;
    height: 35px;
}

.imojis{
    background-color: white;
    padding: 0 25px;
    width: 10px;
    position: absolute;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    bottom: 55px;
    border: 1px solid #eee;
    display: none;
    transform: translateY(25px);
    transition: all ease-in-out 05s;
}
.show-imojis{
    display: block;
    transform: translateY(-25px);
}
.imojis a {
    padding: 5px;
    font-size: 18px;
}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    justify-items:center ;
    background-color: var(--dark-orange);
    color: #fff;
    height: 476px;
    padding-left: 8%;
    padding-right: 8%;
  }
  .add-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .add-container > div {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }
  .add-container > div > span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
  }
  
  .add-container > div > span:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
  }
  
  li{
      list-style: none;
  }
  .footer-contact-inner {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-contact-inner > span {
    margin-top: 15px;
    font-style: 20px;
    font-weight: 500;
  }
  
  .footer-contact-inner > a {
    margin-top: 15px;
    font-style: 16;
    color: #fff
  }
  
  .footer-title-line {
    background-color: var(--main-yellow);
    height: 2px;
    width: 100px;
    margin-bottom: 20px;
  }
  
  .footer-nav-wrapper ul {
    margin-left: -28px;
  }
  
  .footer-nav-wrapper ul a {
    color: white;
    font-size: 16px;
  }
  
  .footer-nav-wrapper ul li {
    padding-top: 10px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 35px;
    align-items: stretch;
  }


  .login-outer-wrapper {
    height: auto;
   padding: 115px 15px 50px 15px;
  }
}

/* login page */
