/* MOBILE */

@media screen and (max-width: 992px) {
    .search_box_container {
      max-width: 95%;
      height: 55px;
      margin: 2px auto
  }
  
  .white-space {
    height: 15px;
  }
  .search_btn > i {
      font-size: 20px;
      color: var(--main-text-dark)
  }
  
  /* Slider */
  .slider__item {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--main-text-dark);
  }
  
  .slider_item_inner img {
    max-width: 65%;
    text-align: center;
  }
  .slider {
    position: relative;
    width: 100%;
    padding: 25px;
    padding-top: 0px !important;
    border-radius: 0;
    margin-top: 2px;
    }
  
    .slider__wrapper {
      margin-top: 25px;
    }
    .slider_item_inner > h2 {
      color: #ffff;
      font-size: 40px;
      margin-bottom: 10px;
      margin-top: 15px;
    }
  /* Slider ends */
    .featured-products-container {
      width: 100%;
    }
    /* Featured products */
    .featured-products-grid-container{
      grid-template-columns: 1fr;
      grid-row-gap: 25px;
    }
  
    .product-inner img{
        width: 450px;
    }

    .product-inner {
        width: 100%;
    }
    .populer-categories-grid{
      grid-template-columns: 1fr;
      grid-row-gap: 25px;
  
    }
    .populer-category {
      max-width: 100%;
    }
    .latest-entries-grid{
      grid-template-columns: 100%;
      grid-row-gap: 25px;
      padding: 34px;
      text-align: center;
    }
  
    .lates-entery {
      height: 126px;
      background-color: #F4F4F4;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      margin: auto;
    }
  
    .newest-intery-container-for-mob{
      max-width: 100%;
    }

    /* shop page */

    .product-page-container {
      grid-template-columns: 1fr;
    }

    .product-page-sidebar {
      display: none;
    }
  
    .product-page-title-wrapper {
      margin-top: 45px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 2px;
    }

    /* hover stoped */
    .fave-buy-icon-box {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0px;
      top: 0px;
      background-color: white;
      padding: 5px 10px;
      opacity: 1;
      transition: all ease-in-out 0.3s;
      box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
      width: 45px;
    }
    .buy-btn {
      opacity: 1;
      transform: translateY(0);
    }
    .fave-buy-icon-box i {
      margin-top: 15px;
      height: 100%;
      width:100%
    }
    .single-product > div {
      cursor: pointer;
      margin-bottom: 15px;
      box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
      padding-bottom: 15px;
      position: relative;
    
    }
    /* Payment */
  
    .payment-methods-container > div {
      display: flex;
      justify-content: space-between;
      height: 110px
    }
    
    .payment-box > img {
      width: 55px;
      padding: 5px;
    }
  
    /* single product */

    .single-product-breadcrumb {
      padding-top: 25px;
    }

    .single-product-content-wrapper {
      padding-left: 0px;
      padding: 0px;
    }

    .single-product-content-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    .product-features-card-wrapper {
      margin-top: 15px;
    }

   .seller-card-wrapper {
     padding: 0;
     width: 100% !important;
   }
.features-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 35px;
  grid-row-gap: 25px;
}


/* Single Product */

.single-product-title-wrapper > h1 {
  font-size: 20px;
}

.hide-on-mobile {
  display: none !important;
}
.single-product-title-wrapper {
  padding: 0 25px;
}

.features-wrapper {
  grid-template-columns: 1fr;
 
}

.big-image > img {
  width: 100%;
}
.message-box {
  width: 100% !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: fixed;
  bottom: -450px;
  background-color: white;
  opacity: 0;
  left: 10px;
  transition: all 0.5s ease-in-out;
}

.message-box-display{
  display: block;
  bottom: 0px;
  opacity: 1;
}
    /* FOOTER */
  
    footer {
      display: flex;
      flex-direction: column;
      height: auto;
      padding-top: 35px;
      align-items: stretch;
    }
  }

  /* login page */

  /* 
   Style for login page mobile design is inside login.css
  
  */